.masthead {
    
    min-height: 1000px;
    background-color: #f4faff;
    background-size: cover;
    background-position: center;
    
  }
  #logo{
    max-width: 250px;
    display: block;
    
}

#footer{
  height: 150px;
  padding-top: 2%;
  background-color: #525151;
  
}
[name="lista"]{
  background-color: #e3f2fd;
}


#footer p span{
  
  color: darkgrey;
}
#footer p{
  color: antiquewhite;
}

#contenido{
  min-height: 900px;
  background-color: #fffcf6;
  margin-top: 7%;
}

nav{
  background-color: #e3f2fd;
}

h1{
  font-family: Arial;
}

ul {
  padding: 0;
  list-style-type: none;
}
li{
  margin-top: 2px;
}